body {
    background-color: #EDFFED;
}

/* .all {
    margin: 0 100px 0 100px;
} */

.navbar {
    background-color: #BFDACE80 !important;
    .container-fluid {
        margin: 0 100px 0 100px;
    }
    .navbar-brand {
        display: flex;
        gap: 1.5rem;
        :nth-child(1) {
            width: 60px;
        }
    }
}